image:
- Visual Studio 2017
environment:
  HOPSAN_BUILD_SCRIPT_NOPAUSE: 1
  HOPSAN_BUILD_QT_HOME: C:\Qt\5.12.6\mingw73_64
  HOPSAN_BUILD_MINGW_HOME: C:\mingw-w64\x86_64-7.3.0-posix-seh-rt_v5-rev0\mingw64
platform: x64
configuration: Release
install:
  - git submodule update --init
  - cd dependencies
  - download-dependencies.py discount fmilibrary qwt zeromq cppzmq msgpack-c katex tclap fmi4c xerces asio zlib libzip dcplib
  - cd ..
build_script:
# Remove sh.exe from PATH so that CMake works
  - set PATH=%PATH:C:\Program Files\Git\usr\bin;=%
  - PATH
  - cd dependencies
  - setupDiscount.bat
  - setupFMILibrary.bat
  - setupFmi4c.bat
  - setupXerces.bat
  - setupZlib.bat
  - setupLibzip.bat
  - setupDCPLib.bat
#  - setupHDF5.bat (takes to long to build)
  - setupKatex.bat
  - setupTclap.bat
  - setupQwt.bat
  - setupZeroMQ.bat
  - setupMsgpack.bat
  - call setHopsanBuildPaths.bat
  - cd ..
  - mkdir build
  - cd build
  - cmake -G"MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release ..\
  - cmake --build . --config Release --parallel 6
  - cd ..
  - dir bin
test_script:
  - runUnitTests.bat
  - runValidationTests.bat
