image:
- Visual Studio 2017
environment:
  HOPSAN_BUILD_SCRIPT_NOPAUSE: 1
  HOPSAN_BUILD_QT_HOME: C:\Qt\5.9.9\mingw53_32
  HOPSAN_BUILD_MINGW_HOME: C:\Qt\Tools\mingw530_32
platform: x86
configuration: Release
install:
  - git submodule update --init
  - cd dependencies
  - download-dependencies.py discount fmilibrary qwt zeromq cppzmq msgpack-c katex tclap fmi4c
  - cd ..
build_script:
# Remove sh.exe from PATH so that CMake works
  - set PATH=%PATH:C:\Program Files\Git\usr\bin;=%
  - PATH
  - cd dependencies
  - setupDiscount.bat
  - setupFMILibrary.bat
  - setupFmi4c.bat
#  - setupHDF5.bat (takes to long to build)
  - setupKatex.bat
  - setupTclap.bat
  - setupQwt.bat
  - setupZeroMQ.bat
  - setupMsgpack.bat
  - call setHopsanBuildPaths.bat
  - cd ..
  - mkdir build
  - cd build
  - qmake.exe ..\HopsanNG.pro -r -spec win32-g++ CONFIG+=release
  - cd ..
  - mingw32-make.exe -j6 -C build
  - dir bin
test_script:
  - runUnitTests.bat
#  - runValidationTests.bat
# one validation test fail on 32 bit due to very small numeric error. Activate this once that has been resolved.
