.svn/
.vs/
bin/
HopsanNG_bd/
build/
output64/
output/
output_deb/
out/
*.pro.user*
*~
*.o
*.so
*.so.*
*.dll
*.dylib
*.a
*.moc
*.exe
moc_*.cpp
CMakeSettings.json
CMakeLists.txt.user
Makefile
compileWithMinGW.bat
GPATH
GTAGS
GRTAGS
GSYMS
