[submodule "HopsanCore/dependencies/indexingcsvparser"]
	path = HopsanCore/dependencies/indexingcsvparser
	url = https://github.com/peterNordin/IndexingCSVParser.git
[submodule "HopsanCore/dependencies/libnumhop"]
	path = HopsanCore/dependencies/libnumhop
	url = https://github.com/peterNordin/libNumHop.git
[submodule "dependencies/tools"]
	path = dependencies/tools
	url = https://github.com/Hopsan/hopsan_deps_tools.git
[submodule "dependencies/git-archive-all"]
	path = dependencies/git-archive-all
	url = https://github.com/Kentzo/git-archive-all.git
