Source: hopsan
Maintainer: Peter Nordin <jpn.peter@gmail.com>
Section: contrib/science
Priority: optional
Build-Depends: cmake,
               cppzmq-dev,
               debhelper (>= 12~),
               doxygen,
               fakeroot,
               graphviz,
               libhdf5-dev,
               libmarkdown2-dev,
               libmsgpack-dev,
               libqt5opengl5-dev,
               libqt5svg5-dev,
               libqt5webkit5-dev,
               libqwt-qt5-dev,
               libtool-bin,
               libzmq3-dev,
               ninja-build,
               patchelf,
               pkg-config,
               python3,
               qtbase5-dev,
               qtbase5-private-dev,
               unzip
Standards-Version: 3.9.8
Homepage: https://github.com/Hopsan/hopsan

Package: hopsan
Architecture: any
Depends: python3,
         zip,
         ${misc:Depends},
         ${shlibs:Depends}
Description: This is a free simulation environment for fluid and mechatronic systems.
 Hopsan is developed at Linköping University. Although originally
 developed for simulation of fluid power systems, it has also been adopted
 for other domains such as electric power, flight dynamics and vehicle
 dynamics. It uses bi-directional delay lines (or transmission line elements,
 TLM) to connect different components.
