fmilibrary/
fmilibrary-code/
fmilibrary-build/
fmi4c/
fmi4c-code/
fmi4c-build/
qwt/
qwt-code/
qwt-build/
zeromq/
zeromq-code/
zeromq-build/
discount/
discount-code/
discount-build/
hdf5/
hdf5-code/
hdf5-build/
katex/
katex-code/
tclap/
tclap-code/
cppzmq-code/
msgpack-c/
msgpack-c-code/
msgpack-c-build/
*.zip
*.tar.gz
*.tar.bz2
*.7z
