Source: hopsan
Section: non-free/x11
Priority: extra
Maintainer: Peter Nordin <peter.nordin@liu.se>
Build-Depends: fakeroot, debhelper (>= 8.0.0), patchelf, unzip, cmake, libtool-bin, automake, pkg-config, qt5-default, python3-dev, qtbase5-dev, qtbase5-private-dev, libqt5webkit5-dev, libqt5svg5-dev, libqt5opengl5-dev, libhdf5-dev, libqwt-qt5-dev, libmarkdown2-dev, libzmq3-dev
Standards-Version: 3.9.2
Homepage: http://www.iei.liu.se/flumes/system-simulation/hopsan

Package: hopsan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This is a free simulation environment for fluid and mechatronic systems.
 Hopsan is developed at Linköping University. Although originally 
 developed for simulation of fluid power systems, it has also been adopted
 for other domains such as electric power, flight dynamics and vehicle 
 dynamics. It uses bi-directional delay lines (or transmission line elements,
 TLM) to connect different components.
