#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SHELL := /bin/bash
export QT_SELECT=5

%:
	dh $@

override_dh_auto_configure:
#	Prevent auto running cmake configuration since bundled dependencies must be built first

override_dh_auto_build:
#       First build dependencies
	packaging/fixPythonShebang.sh ./ 3
	cd dependencies; ./setupFMILibrary.sh
	cd dependencies; ./setupFmi4c.sh
	cd dependencies; ./setupKatex.sh
	cd dependencies; ./setupTclap.sh
	cd dependencies; ./setupXerces.sh
	cd dependencies; ./setupDCPLib.sh
	cd dependencies; ./setupLibzip.sh

#       Now build Hopsan using CMake
	mkdir -p hopsan-build
	source dependencies/setHopsanBuildPaths.sh; cd hopsan-build; \
		cmake   -GNinja -DCMAKE_BUILD_TYPE=Release -DBUILD_USER_DOCUMENTATION=ON -DBUILD_DEVELOPER_DOCUMENTATION=OFF \
			-DCMAKE_INSTALL_PREFIX=../debian/hopsan/opt/hopsan ../
	source dependencies/setHopsanBuildPaths.sh; cd hopsan-build; cmake --build . --target all

override_dh_auto_clean:
	rm -rf hopsan-build
	dh_auto_clean

override_dh_auto_install:
	cd hopsan-build; cmake --install .
	dh_install packaging/HopsanGUI.desktop usr/share/applications/
	dh_install HopsanGUI/graphics/uiicons/hopsan128x128.png usr/share/icons/hicolor/128x128/apps/

override_dh_shlibdeps:
	dh_shlibdeps -l/opt/hopsan/bin
