[Desktop Entry]
Version=1.0
Type=Application
Name=HopsanGUI
Comment=The Hopsan simulation program
Icon=${SNAP}/meta/gui/hopsan128x128.png
TryExec=${SNAP}/bin/HopsanGUI
Exec=${SNAP}/bin/HopsanGUI
Path=${SNAP}/bin
Categories=Development;
