[Desktop Entry]
Version=1.0
Type=Application
Name=HoLC
Comment=Hopsan Library Creator
Icon=${SNAP}/meta/gui/Holc-Icon.png
TryExec=${SNAP}/bin/HoLC
Exec=${SNAP}/bin/HoLC
Path=${SNAP}/bin
Categories=Development;
