[Desktop Entry]
Version=1.0
Type=Application
Name=HoLC
Comment=Hopsan Library Creator
Icon=${SNAP}/meta/gui/Holc-Icon.png
Exec=hopsan.holc
Path=${SNAP}/bin
Categories=Science;Engineering;Education;
