name: ghactions-ci-build
on: [pull_request]

jobs:
  cmake-msvc2019:
    timeout-minutes: 30
    runs-on: windows-2025
    env:
      HOPSAN_BUILD_SCRIPT_NOPAUSE: 1
      HOPSAN_BUILD_CMAKE_GENERATOR: '"Visual Studio 17 2022"'
      HOPSAN_BUILD_QT_HOME: 'D:\a\hopsan\Qt\5.15.2\win64_msvc2019_64'
      HOPSAN_BUILD_MINGW_HOME: 'WeDoNotWantMingwInPATH'
    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '5.15.2'
          arch: 'win64_msvc2019_64'

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 10

      - name: Submodule update
        shell: cmd
        run: git submodule update --init

      - name: Create build dir
        shell: cmd
        run: mkdir hopsan-build

      - name: Download dependencies
        shell: cmd
        working-directory: dependencies
        run: python download-dependencies.py fmilibrary tclap qwt fmi4c xerces asio zlib libzip dcplib

      - name: Build dependencies
        shell: cmd
        working-directory: dependencies
        run: |
            call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" amd64
            call setupTclap.bat
            call setupFMILibrary.bat
            call setupQwt.bat
            call setupFmi4c.bat
            call setupXerces.bat
            call setupZlib.bat
            call setupLibzip.bat
            call setupDCPLib.bat

      - name: Configure
        working-directory: hopsan-build
        shell: cmd
        run: cmake -DCMAKE_BUILD_TYPE=Release -G%HOPSAN_BUILD_CMAKE_GENERATOR% ..

      - name: Build
        working-directory: hopsan-build
        shell: cmd
        run: cmake --build . --config Release --parallel 4

      - name: Test
        working-directory: hopsan-build
        shell: cmd
        run: ctest -C Release --output-on-failure --parallel 4

  cmake-ubuntu:
    timeout-minutes: 20
    runs-on: ubuntu-20.04
    steps:
      - name: Install Packages
        run: |
          sudo apt-get update
          sudo apt-get install qt5-default qtbase5-dev qtbase5-private-dev libqt5webkit5-dev libqt5svg5-dev libqt5opengl5-dev libhdf5-dev libmarkdown2-dev libmsgpack-dev libqwt-qt5-dev libzmq3-dev zlib1g zipcmp ziptool zipmerge

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 10

      - name: Submodule update
        shell: bash
        run: git submodule update --init

      - name: Create build dir
        shell: bash
        run: mkdir hopsan-build

      - name: Download dependencies
        shell: bash
        working-directory: dependencies
        run: ./download-dependencies.py fmilibrary tclap fmi4c xerces asio dcplib libzip

      - name: Build dependencies
        shell: bash
        working-directory: dependencies
        run: |
          ./setupFMILibrary.sh
          ./setupTclap.sh
          ./setupFmi4c.sh
          ./setupXerces.sh
          ./setupDCPLib.sh
          ./setupLibzip.sh

      - name: Configure
        working-directory: hopsan-build
        shell: bash
        run: cmake -DCMAKE_BUILD_TYPE=Release ..

      - name: Build
        working-directory: hopsan-build
        shell: bash
        run: cmake --build . --config Release --parallel 4

      - name: Test
        working-directory: hopsan-build
        shell: bash
        run: ctest --output-on-failure --parallel 2
